/* App.css */
body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  
  .font-noto-sans-jp {
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  .font-playwrite-cl {
    font-family: 'Playwrite CL', serif;
  }
  
  .font-raleway {
    font-family: 'Raleway', sans-serif;
  }
  